body {
  font-family: futura, 'helvetica neue';
  color: #333;
  margin: 1em;
}

.hidden {
  display: none !important;
  opacity: 0;
  transition: opacity 1s;
}

#status-message {
  background-color: #ffffee;
}

.form {
  border: dashed 1px #333;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.form-pair {
  display: flex;
  margin-top: 1.5em;
  flex-wrap: wrap;
  align-items: center;
}

.form-pair label {
  margin-right: 1em;
  text-align: right;
  width: 10em;
}

.form-pair .value-container {
  flex-grow: 1;
  display: flex;
}

.slider {
  margin-right: 2em;
  width: 80%;
  min-width: 200px;
}

.container {
  display: flex;
  flex-wrap: flex;
}

#spectrum > div {
  width: 40px;
  height: 20px;
  border: 1px solid white;
}

#swatches {
  margin-left: 64px;
  min-width: 264px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

#swatches > div {
  width: 64px;
  height: 64px;
  border: 1px solid white;
}

#json {
  border: 1px dashed #333;
  padding: 1em;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

a {
  color: black;
}

.explanation {
  font-family: Garamond, Georgia;
}